$body-font-family: 'muli';
$input-font-size: 14px;
$card-border-radius: 10px;

$navigation-drawer-border-width: 0px;

//Shadows:
$shadow-key-umbra-opacity: rgba(lightgray, 0.3);
$shadow-key-penumbra-opacity: rgba(lightgray, 0.2);
$shadow-key-ambient-opacity: rgba(lightgray, 0.1);